.tableusers {
  margin-left: 0rem;
  margin-right: 4rem;
  margin-top: -25px;
  

  

}

#columns{
  margin-left: 0rem;
  margin-right: 0rem;
  color: black;
  background-color: orange;
}
/* ::-webkit-scrollbar {
  display:none;
} */